[alias]
	amend = commit -a --amend --no-edit
	branches = branch -avv
	cf = commit --fixup
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	df = diff
	dfc = diff --cached
	f = fetch
	fix = commit --amend --no-edit
	glog = log --all --graph --decorate
	ll = log --pretty=format:'%C(yellow)%h  %C(reset)%s %C(red)%d%C(green)[%cr] %C(blue)[%cn]' --graph --decorate --abbrev-commit
	lla = log --pretty=format:'%C(yellow)%h  %C(reset)%s %C(red)%d%C(green)[%cr] %C(blue)[%cn]' --graph --decorate --abbrev-commit --all
	lls = log --graph --decorate --pretty=format:'%C(red)%h  %C(yellow)%ad %C(red)%d%C(reset) %s %C(blue)[%an]' --abbrev-commit --date=short --all --simplify-by-decoration
	ma = merge --abort
	nlog = log --name-status
	p = pull
	pp = !sh -c 'git push -n && git diff --stat origin `git rev-parse --abbrev-ref HEAD`'
	ppp = !sh -c 'git push -n && git diff origin `git rev-parse --abbrev-ref HEAD`'
	remotes = remote -v
	rb = rebase
	rw = commit --amend
	rba = rebase --abort
	rbc = rebase --continue
	rbi = !sh -c \"git rebase -i HEAD~$1\" -
	rbm = !sh -c 'git switch main && git pull && git switch - && git rebase main'
	rbm2 = !sh -c 'git switch master && git pull && git switch - && git rebase master'
	rbs = rebase --skip
	review = !sh -c \"git checkout origin/$1\"
	sapply = !sh -c 'git stash apply stash^{/$*}' -
	slist = stash list
	slog = log --all --graph --decorate --pretty=oneline
	sshow = !sh -c 'git stash show stash^{/$*} -p' -
	st = status -s
	sw = switch
	swd = switch develop
	swm = sw main
[init]
	templatedir = ~/used_projects/dotfiles/git/templates
	defaultBranch = main
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
	whitespace = warn
[diff]
	renameLimit = 999999
[merge]
	conflictstyle = diff3
	renameLimit = 999999
[push]
	default = current
[user]
	email = rmuhl@mailbox.org
	name = René Muhl
[transfer]
	fsckobjects = true
[fetch]
	fsckobjects = true
[receive]
	fsckObjects = true
[rebase]
	autosquash = true
	autostash = true
[tig]
	main-view = \
		date:default \
		author:full \
		id:yes,color \
		commit-title:graph=v2,refs=yes
	ignore-case = true
	line-graphics = utf-8
[tig "bind"]
    main = C !git switch -d %(commit)
    main = R !git rebase -i %(commit)^
    main = F !git commit --fixup %(commit)
    diff = C !git switch -d %(commit)
    diff = R !git rebase -i %(commit)^
    diff = F !git commit --fixup %(commit)
[rerere]
	enabled = true
[mergetool]
	keepBackup = false
[branch]
	autosetuprebase = always
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
